.registerContainer {
  display: flex;
  flex-grow: 1;
  min-width: 100%;
  flex: 1;
  min-height: 100%;
  background-color: #f6f6f6;
  justify-content: center;
  background-image: url(../../Assets/auth/loginBg5.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes cardShowAnime {
  100% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.registerBigCardHolder {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
}

.registerBigCard {
  /* border: 1px solid black; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 45px 0px;
  /* width: 35%; */
  transition: opacity 0.5s ease-in-out;

  /* animation: cardShowAnime;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;*/
  /* backface-visibility: hidden; */
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}

.loginTitle {
  /* display: flex; */
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 25px;
  font-family: "Segoe UI";
  /* border: 1px solid red; */
  text-align: center;
  justify-content: center;
  align-items: center;
  width: fit-content !important;
  gap: 10px;
}

.loginSubText {
  letter-spacing: 1px;
  font-size: 15px;
  font-family: "Segoe UI";
  color: black;
  /* font-style: italic; */
  /* border: 1px solid red; */
  text-align: center;
  padding-block: 10px;
}

.inputsHolder {
  margin-top: 30px !important;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-inline: 10px;
  /* width: 85% !important; */
  min-width: 75% !important;
}

.loginTroubleLinkText {
  text-decoration: none;
  font-size: 14px;
}

.orTextHolder {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 4px;
}

.divider {
  width: 10%;
}

.orText {
  /* display: flex; */
  text-align: center;
  align-self: center;
  font-size: small;
}

.regText {
}

.copyRightsHolder {
  /* border: 1px solid red; */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 13px;
  padding-block: 10px;
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
}

.copyRightText {
}

/* font-size: clamp(1rem, 2.5vw, 2rem);  */
