:root {
  --mildGrey: #f6f6f6;
  --mainFont: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --subFont: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --subColor: #3c3d37;
}
.parentWrapper {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  background-color: white;
  overflow-x: hidden;
}

.whiteDivider {
  background-color: white;
  display: flex;
  height: 2px;
}

.contHolder {
  display: flex;
  flex-direction: row;
  margin-top: 3px !important;
  /* border: 2px solid red; */
  height: 100%;
  max-height: 100% !important;
  width: 100%;
  position: relative;
}

.sideBar {
  /* border: 2px solid aqua; */
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  height: 100%;
  width: 100%;
}

.menuHolder {
  /* border: 1px solid green; */
  background-color: #f6f6f6;
  height: 100%;
  max-height: 100% !important;
  padding-inline: 0 !important;
  max-width: 15% !important;
}

.screenHolder {
  /* border: 2px solid black; */
  display: flex;
  flex-grow: 1;
  padding-inline: 0px;
  height: 100%;
  max-height: 100% !important;
  width: 100% !important;
  /* overflow: auto; */
  overflow: hidden;
  padding-inline: 0 !important;
  background-color: white;
  max-width: 100% !important;
}

.menuBar {
  background-color: #f6f6f6;
  /* border: 1px solid green !important; */
  padding-inline: 2px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* 
--bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px; */
@media screen and (max-width: 576px) {
  .contHolder {
    /* border: 2px solid aquamarine !important; */
  }

  .menuBar {
    background-color: #f6f6f6;
    /* border: 1px solid red !important; */
    height: 100% !important;
    width: 45% !important;
    padding-inline: 2px !important;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
    position: absolute !important;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    z-index: 50;
  }

  .css-dip3t8 {
    padding-block: 5px !important;
  }

  .collapseButton {
    display: none !important;
  }
  .userNameText,
  .userMailText {
    font-size: 9px !important;
  }
  .userAccDetailsHolder {
    display: none !important;
  }

  .userProductHolder {
    width: 100% !important;
  }

  .orderFilterSelectHolder {
    display: none !important;
  }
}

/* actual menu container & userDetail container */
.css-dip3t8 {
  padding-block: 15px;
  padding-top: 30px;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.css-1lslmti.ps-collapsed {
  width: 70px !important;
  min-width: 70px !important;
}

.ps-menu-button {
  padding: 0 !important;
  margin: 5px !important;
}

.MenuButton {
  /* border: 1px solid red !important; */
  gap: 12px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 6px !important;
  font-size: 15px;
  padding-block: 8px !important;
}

.tabScreens {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f6f6f6 !important;
  background-color: #e8e8e8 !important;
  padding: 4px 6px !important;
  overflow: hidden;
  box-sizing: border-box !important;
  height: 100%;
  /* border: 1px solid greenyellow !important; */
}

.sideBarUserContainer {
  display: flex;
  /* border: 1px solid green; */
  padding: 5px;
  margin-bottom: 15px;
}

.userDetailButton {
}

.userDetailHolder {
  /* border: 1px solid red; */
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  border-radius: 4px !important;
  background-color: white !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.01) 0px 1px 2px 0px;
  padding: 0 !important;
  padding-block: 10px !important;
  padding-inline: 5px !important;
  gap: 3px;
}

.userTextHolder {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.userNameText {
  /* border: 1px solid black; */
  font-weight: 500;
  font-size: 15px;
  font-family: "Segoe UI";
}

.userMailText {
  /* border: 1px solid black; */
  font-weight: 500;
  font-size: 12px;
  font-family: "Segoe UI";
}

.loginLinkText {
  padding-inline-start: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Segoe UI";
  letter-spacing: 1px;
}

.collapseButton {
  position: absolute !important;
  /* border: 1px solid black; */
  top: 5px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screenContainer {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  flex: 1;
  flex: 1 0 auto;
  flex-basis: 0;
  height: 100%;
  width: 100%;
  min-height: 0;
  box-sizing: border-box !important;
  overflow: hidden !important;
}

.rowHolder {
  display: flex;
  flex: 1 0 auto;
  flex-basis: 0;
  height: 100%;
  width: 100%;
  min-height: 0;
}

.userProductHolder {
  /* border: 1px solid burlywood; */

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  flex-basis: 0;
  overflow: hidden;
  height: 100%;
  min-height: 0;
  box-sizing: border-box !important;
}

.homeCont {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  min-height: 0;
  max-height: 100%;
  overflow: auto;
}

.userAccDetailsHolder {
  /* border: 1px solid brown; */
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 30%;
  background-color: #f6f6f6;
}

.userProfileContainer {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.userImageWrapper {
  display: flex;
  /* border: 1px solid black; */
  justify-content: center;
}

.userImgHolder {
  display: flex;
  /* border: 1px solid green; */
  overflow: hidden;
  flex: 0.35;
  flex: 0.45;
  border-radius: 100%;
  width: 100%;
}

.userImage {
  display: flex;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profileIconsHolder {
  /* border: 1px solid black; */
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.iconTxtCombo {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  align-items: center;
}

.iconNumTxt {
  font-weight: 550;
}

.userDetailsContainer {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-grow: 1.8;
  padding: 10px;
}

.detailsInputsCont {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.addProductHolder {
  /* border: 1px solid red; */
  display: flex;
  align-items: start;
  justify-content: center;
  color: #757575;
  font-family: "Segoe UI";
}

.noProductText {
  font-size: 18px;
}

.addProductBt {
  text-transform: none !important;
}

.inputGroup {
  /* border: 1px solid brown; */
  display: flex;
  flex-direction: column;
}

.groupHeadTxt {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  letter-spacing: 0.8px;
  color: black;
  padding-bottom: 8px;
  display: flex;
  /* border: 1px solid black; */
  gap: 3px;
}

.inputItems {
  padding-inline-start: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 1px solid antiquewhite; */
}

.imagesUploadHolder {
  /* border: 1px solid black; */
  gap: 4px;
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5px;
  height: 150%;
  flex-grow: 1;
}

.mainImageHolder {
  border: 1px solid red;
  display: flex;
  border: 1px dashed #91bafe;
  border-radius: 8px;
  background-color: #f6f6f6;

  height: 100%;
  width: 100%;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.imageIconHolder {
  /* border: 1px solid red; */
  display: flex;
  flex: 1;
  padding-block: 45px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.prodActImage {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 8px;
  object-fit: fill;
}

.editImgIcon {
  z-index: 100;
}

.subImages {
  /* border: 1px solid red; */
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.subImageItems {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border: 1px dashed #91bafe;
  border-radius: 8px;
  background-color: #f6f6f6;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.colorImages {
  /* border: 1px solid black; */
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(90px, max-content));
}

.colImageItems {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #91bafe;
  border-radius: 8px;
  background-color: #f6f6f6;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.baseContainer {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  max-height: 100% !important;
}

.addProdBodyCont {
  display: flex;
  flex: 1;
  padding-inline: 10px !important;
  min-width: 100% !important;
  min-height: 100% !important;
  max-height: 90dvh !important; /*Matters for child scrolling*/
  height: fit-content;
  padding: 0 !important;
  margin: 0 !important;
  /* border: 1px solid blue; */
  overflow: auto !important;
}

.productElementCont {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 !important;
  /* border: 1px solid aqua; */
  padding: 15px !important;
  gap: 20px;
}

.backContent {
  display: flex;
  gap: 10px;
  height: fit-content;
  /* justify-content: space-between; */
  padding-inline-end: 20px;
}

.backTexts {
  display: flex;
  flex-direction: column;
}

.prevScrenText {
  font-weight: 600;
  font-size: 10px;
  color: gray;
}

.screenTitle {
  font-weight: 600;
  font-size: 23px;
  color: black;
}
/* Learn And Gain */
.toolBar {
  display: flex;
  flex: 1;
  height: 100%;
  border: 1px solid black;
}

.basePsdHolder {
  display: flex;
  flex: 1;
  height: 100%;
  border: 1px solid black;
}
.psgImage {
  display: flex;
  height: 500px;
  width: 100%;
  object-fit: fill;
  border: 1px solid green;
}

.canvasHolder {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  transition: all ease-in;
  background-color: #f6f6f6;
}

.favConts {
  display: flex;
  flex: 1;
  /* border: 1px solid green; */
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  transition: scroll-behavior 1s ease;
}

.favConts::-webkit-scrollbar {
  display: none;
}

.modelObjHolder {
  display: flex;

  min-width: 80%;
  position: relative;
  /* border: 1px solid blue; */
  transition: min-width 1s ease;
}

.editorHolderPallate {
  /* border: 1px solid red; */
  display: flex;
  /* flex: 1 0 auto;
  flex-basis: 0;
  min-width: 0; */
  max-height: 100% !important;
  /* width: 20%; */
  min-width: 20%;
  flex-direction: column;
  background-color: #f6f6f6;
  overflow: hidden;
  /* background-color: #cfbcba; */
}

.threeDHolder {
  display: flex;
  background-color: #fbf9f1;
  background-color: #f6f6f6;

  cursor: grab;
}

.placeOrderPallet {
  display: flex;
  min-width: 70%;
  border: 1px solid red;
  box-sizing: border-box;
}

/* quantity Holder */
.placeOrderPallet > div:first-child {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid red;
  margin: 10px;
  padding: 10px;
  gap: 20px;
}

.quntInput {
  width: 45px;
  min-width: 20px;
  text-align: center;
  outline: none;
  border: 1px solid transparent;
}

.quntInput:focus {
  border: 1px solid transparent;
}

.quntInput::-webkit-outer-spin-button,
.quntInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quntInput {
  -moz-appearance: textfield;
}

/*Payment Holder */
.placeOrderPallet > div:last-child {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid red;
  margin: 10px;
  margin-left: 0;
  padding: 10px;
  padding-inline-start: 20px;
  background-color: #fafafa;
  border-radius: 8px;
}

.threeDHolder:active {
  cursor: grabbing;
}

.objPosHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 5%;
  height: 100%;
  left: 5px;
  top: 0;
  z-index: 10;
}

.posImgListHolder {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.meshcolorPallate {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  position: absolute;
  width: 80%;
  height: 5%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8%;

  z-index: 10;
  overflow-y: hidden;
}

.placeOrderBt {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* height: 5%; */
  left: 50%;
  transform: translateX(-50%);
  bottom: 8%;
  bottom: 10px;
  z-index: 10;
}

.meshColList {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  overflow: auto !important;
  scrollbar-width: thin;
  white-space: nowrap;
  width: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  align-items: center;
  /* justify-content: center; */
  margin: 0 auto;
}

.posImgItemHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 7dvh;
  width: 100%;
  border-radius: 8px;
  background-color: #e4e4e4;
}

.posImg {
  display: flex;
  height: 7dvh;
  width: 95%;
  scale: 1.2;
  object-fit: contain;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.editorMainTitle {
  display: flex;
  font-family: "Segoe UI";
  font-size: x-large;
  border: 1px solid black;
}

.txtureListHolder {
  display: flex;
  flex-direction: column;
  height: 50%;
  max-height: 50%;
  width: 100%;
  border: 1px solid green;
}

.txtFlexCont {
  display: flex;
  flex: 1;
  overflow: hidden;
  border: 1px solid black;
}

.txtListHolder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: auto;
  width: 100%;
  padding: 3px;
  gap: 3px;
  border: 1px solid royalblue;
}

.editingPallateHolder {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
}

.rangesHolder {
  border: 1px solid magenta;
  display: flex;
  /* flex: 1; */
  flex-direction: column;
}

.colorPickerHolder {
  display: flex;
  justify-content: center;
}

.tabsHolder {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  background-color: white;
  /* border: 1px solid black; */
}

.tabsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  /* border: 1px solid greenyellow; */
}

.secTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: larger;
  /* border: 1px solid magenta; */
}

.printTxtHolder {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* border: 1px solid magenta; */
}

.txtInputsHolder {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid aqua; */
}

.radioGrpHolder {
}

.subTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: 500;
  color: #626262;
  padding-bottom: 4px;
}

.colorsPallateHolder {
  display: flex;
  flex-direction: column;
  flex: 0.9;
  /* height: 100%; */
  overflow: hidden;
  /* border: 1px solid aquamarine; */
}

.colListHolder {
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  flex: 1 0 auto; /*Grow to fill available space, but avoid expanding */
  flex-basis: 0; /* Prevent initial content size from affecting the height */
  overflow: hidden; /* Prevent content from pushing beyond the container */
  height: 100%; /* Maintain full height of parent */
  min-height: 0; /* Ensures that it doesn't auto-grow based on content */
  /* border: 1px solid green; */
  border: 1px solid #e3e3e3;
  border-style: dashed;
}

.addEditHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
  /* border: 1px solid green; */
}

.txtRangesHolder {
  display: flex;
  flex: 0.35;
  flex-direction: column;
  /* border: 1px solid red; */
}

.printedTextList {
  border: 1px solid #e3e3e3;
  border-style: dashed;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  flex-basis: 0;
  overflow: hidden;
  overflow: auto;
  height: 100%;
  min-height: 0;
  align-items: flex-start;
  padding: 3px;
}

.rangesList {
  display: flex;
  flex: 0.45;
  flex-direction: column;
  padding-block: 3px;
  justify-content: space-around;
  overflow-y: auto;
  /* border: 1px solid black; */
}

.txtItem {
  display: flex;
  width: auto;
  border: 1px solid transparent;
  align-self: center;
  padding-inline: 5px;
  /* border: 1px solid gray; */
}

.rangeItem {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  /* border: 1px solid gray; */
}

.analogHolder {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.posInpHolder {
  display: flex;
  width: 30%;
  /* flex: 1; */
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid gray; */
}

.rangeLabel {
  font-size: medium;
  font-size: 14px;
  /* border: 1px solid gray; */
  font-family: serif;
  /* width: 45%; */
}

.sliderHolder {
  display: flex;
  align-items: center;
  /* border: 1px solid gray; */
  padding-inline-start: 7px;
}

.sliderValTxt {
  font-size: x-small;
  padding-inline: 5px;
  font-family: serif;
  text-align: center;
  width: 15%;
  max-width: 20%;
}

.sliders {
  padding: 5px 0 !important;
  width: 85%;
}

.suggImageHolder {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* border: 1px solid gray; */
}

.addedImgHolder {
  display: flex;
  border: 1px solid #e3e3e3;
  border-style: dashed;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  flex-basis: 0;
  overflow: hidden;
  overflow: auto;
  height: 100%;
  min-height: 0;
  align-items: flex-start;
}

.imgGridListHolder {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  overflow: auto;
  padding: 3px;
  gap: 3px;
  /* border: 1px solid palevioletred; */
}

.comImgHolder {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* border: 1px solid magenta; */
}

.imgItem {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 1px solid transparent;
}

/* Testing menu holder */

.exploreHolder {
  display: flex;
  flex: 1;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: center;
}

.menuContainer {
  /* border: 1px solid red; */
  display: flex;
  /* flex: 1; */
  height: 60%;
  width: 80%;
  align-items: center;
  overflow: hidden;
  position: absolute;
}

.menuLink {
  display: flex;
  height: 190%;
  width: 50%;
  border-radius: 50%;
  border: 0.8px solid gray;
  position: relative;
  left: 3%;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.iconHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4%;
  width: 5.5%;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

.iconCont {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 80%;
  width: 80%;
  background-color: black;
}

.icon2Pos {
  left: 2%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.icon1Pos {
  left: 0%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.icon3Pos {
  left: 0%;
  top: 55%;
  transform: translate(-50%, -50%);
}
.icon4Pos {
  left: 2%;
  top: 65%;
  transform: translate(-50%, -50%);
}

.editorHolder {
  display: flex;
  flex: 1;
  height: 100%;
  padding: 0 !important;
  background-color: white !important;
  /* border: 1px solid greenyellow !important; */
}

.productsHolder {
  display: flex;
  height: 95%;
  max-height: 95% !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  overflow: auto !important;
  /* border: 1px solid greenyellow !important; */
  box-sizing: border-box;
  z-index: 5;
  position: relative;
}

.orderGridHolder {
  display: flex;
  flex: 0 0 1;
  /* border: 1px solid purple; */
  margin-bottom: 5px;
}

.orderGridItem {
  display: flex;
  flex: 1;
  /* border: 1px solid red !important; */
  align-items: center;
  justify-content: space-around;
}

.orderGridIconHolder {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}

.orderGridItemTexts {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.orderGridItemTexts > span:first-child {
  /* border: 1px solid green; */
  font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
  font-weight: 600;
  line-height: normal;
}

.orderGridItemTexts > span:nth-child(2) {
  /* border: 1px solid blue; */
  font-size: clamp(1rem, 1vw + 1rem, 1.1rem);
  font-weight: 500;
  color: #8f949e;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.orderListContent {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  box-sizing: border-box;
}

.filterHolder {
  display: flex;
  /* border: 1px solid rebeccapurple; */
  box-sizing: border-box !important;
  height: auto;
  max-height: auto;
  /* margin-block: 3px; */
  margin-bottom: 5px;
}

.filterConts {
  display: flex;
  flex: 1;
  /* border: 1px solid rebeccapurple; */
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding-inline: 10px;
  padding-block: 5px;
  box-sizing: border-box;
}

.gridTitle {
  /* border: 1px solid blue; */
  display: flex;
  flex: 1;
  font-family: var(--subFont);
  font-size: large;
  font-size: clamp(1rem, 1vw + 1rem, 1.2rem);
  align-items: center;
}

.filterInps {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  gap: 15px;
}

.orderFilterSelectHolder {
  display: flex;
  flex: 1;
}

.orderListHolder {
  /* border: 1px solid orange; */
  display: flex;
  flex: 1;
  height: 100%;
  max-width: 100%;
  min-height: auto;
}

.paginationHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid green; */
  padding-top: 5px;
}

.MuiTableCell-alignCenter {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  letter-spacing: 0.5px !important;
}

.analiticsGridHolder {
  /* border: 1px solid green; */
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 3;
  grid-auto-flow: dense;
  grid-auto-rows: auto;
  box-sizing: border-box;
  overflow: auto;
  gap: 7px;
}

.analiticsGridHolder > div:nth-child(1),
.analiticsGridHolder > div:nth-child(2),
.analiticsGridHolder > div:nth-child(3),
.analiticsGridHolder > div:nth-child(4) {
  padding: 0px 10px;
  border-radius: 8px;
  min-height: 70px;
  background-color: white;
}

.analiticsGridHolder > div:nth-child(5) {
  grid-row: span 7;
  grid-row: span 11;
  grid-column: span 2;
  display: flex;
  flex: 1;
  height: 100%;
  gap: 7px;
}

.analiticsGridHolder > div:nth-child(5) > span {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  border-radius: 8px;
  /* border: 1px solid brown; */
  background-color: white;
}

.analiticsGridHolder > div:nth-child(5) > span > div {
  align-items: center;
  justify-content: center;
  min-height: 0;
}

.chartItems > div:first-child {
  /* border: 1px solid brown; */
  display: flex;
  flex: 0.7;
  font-weight: 500;
  font-family: var(--subFont);
  font-size: clamp(1rem, 0.2vw + 0.9rem, 1.2rem);
  text-overflow: ellipsis;
  text-wrap: nowrap;
  /* height: 10%; */
}
.chartItems > div:nth-child(2) {
  /* border: 1px solid brown; */
  display: flex;
  flex: 3;
  height: 100%;
}
.chartItems > div:last-child {
  /* border: 1px solid pink; */
  display: flex;
  flex: 0.7;
  justify-content: space-around;
}

.pieRange {
  display: flex;
  justify-content: space-evenly !important;
  font-size: 2dvh;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  gap: 2px !important;
}

.analysHeadings {
  font-family: var(--subFont);
  font-size: 2dvh;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  font-weight: 500;
}

.pieRange > span {
  display: flex;
  /* border: 1px solid green !important; */
  align-items: center;
  gap: 6px;
}

.pieRange > span > div {
  height: 2dvh !important;
  width: 2dvh !important;
  border-radius: 2px;
  background-color: antiquewhite;
}

.analiticsGridHolder > div:nth-child(6),
.analiticsGridHolder > div:nth-child(7) {
  grid-column: span 4;
  grid-row: span 5;
  display: flex;
  flex: 1 0 auto !important;
  flex-basis: 0 !important;
  min-height: 0;
  flex-direction: column;
  border-radius: 8px;
  padding: 5px 10px;
  min-height: 130px;
  background-color: white;
}

.analiticsGridHolder > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  /* border: 1px solid green; */
  height: 100%;
}

.analysGridItem {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  /* border: 1px solid palevioletred; */
}

.analysIconCombo {
  display: flex;
  flex: 1;
  /* border: 1px solid orange; */
  align-items: center;
  box-sizing: border-box !important;
}

.analysGridIconHolder {
  display: flex;
  /* border: 1px solid gray; */

  border-radius: 50%;
  flex-grow: 0;
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box !important;
}

.analysGridItemTexts {
  display: flex;
  align-items: center;
  width: fit-content;
  padding-inline-start: 5px;
  font-family: var(--subFont);
  font-weight: 400;
  color: #626262;
}

.analysTxtHolder {
  /* border: 1px solid red; */
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  padding-inline: 5px;
}

.analysTxtHolder > span:first-child {
  /* border: 1px solid green; */
  font-size: clamp(1rem, 1vw + 1rem, 1.1rem);
  font-weight: 600;
  line-height: normal;
}

.analysTxtHolder > span:nth-child(2) {
  display: flex;
  align-items: center;
  font-size: clamp(0.8rem, 0.8vw + 0.5rem, 1rem);
  font-weight: 400;
  color: #8f949e;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.topProductsHolder > div:first-child {
  /* border: 1px solid black; */
  display: flex;
  flex: 1;
  padding-inline: 10px;
  justify-content: flex-start !important;
}
.topProductsHolder > div:last-child {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  flex: 6 0 auto;
  flex-basis: 0;
  height: 100%;
  max-height: 100% !important;
  overflow: hidden;
  padding-bottom: 3px;
}

.analysProdList {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  flex-basis: 0;
  height: 100%;
  width: 100% !important;
  max-height: 100% !important;
  overflow: auto !important;
  padding: 5px;
  gap: 5px;
}

.analysProdItem {
  display: flex;
  flex-direction: row !important;
  height: 100%;
  width: 100%;
  /* border: 1px solid palevioletred; */
  align-items: center;
  border-radius: 5px;
  background-color: var(--mildGrey);
}
.prodImageCont {
  height: 100%;
  width: 15%;
}
.prodImageCont > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.prodtxtsCont {
  display: flex;
  flex-direction: column;
}

.prodtxtsCont > span {
  font-family: var(--subFont);
}
.prodtxtsCont > span:first-child {
  color: #3c3d37;
  font-size: clamp(0.8rem, 0.4vw + 0.5rem, 1rem);
}
.prodtxtsCont > span:last-child {
  color: #757575;
  font-size: clamp(0.6rem, 0.2vw + 0.5rem, 1rem);
}

.analiticsGridHolder > div:nth-child(6) > span {
  /* border: 1px solid palevioletred !important; */
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  flex-basis: 0;
  height: 100%;
  max-height: 100% !important;
  overflow: hidden;
}

.dateRangeHolder {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.5;
  overflow: hidden;
  width: 100%;
  position: relative;
  /* margin-inline-start: 20px; */
}

/* Range picker in analytics for mobile view */
.ant-picker {
  padding-inline: 5px;
}
.ant-picker-dropdown .ant-picker-panel-container .ant-picker-panels {
  display: inline-flex;
  animation: none;
  flex-wrap: nowrap;
  direction: ltr;
  @media (max-width: 768px) {
    display: inline-grid;
  }
}

.policeParent {
  /* border: 1px solid purple; */
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: dense;
  overflow: auto !important;
  box-sizing: border-box;
  gap: 8px;
}

.policeParent > div {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  flex-basis: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  border-radius: 8px;
}

.policeParent > div:first-child {
  grid-column: 1/-1;
}

/* image */
.policeParent > div > span {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

.policeParent > div > span:first-child {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-image: url(../../Assets/policy/terms.png);
}

.policeParent > div:nth-child(2) > span:first-child {
  background-image: url(../../Assets/policy/privacy.png);
}
.policeParent > div:last-child > span:first-child {
  background-image: url(../../Assets/policy/del.png);
}
/* txt content */
.policeParent > div > span:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 0 auto;
  flex-basis: 0;
  min-height: 0;
  height: 100%;
  padding-inline: 15px;
  padding-block: 5px;
}
.policeParent > div > span:last-child > h4 {
  margin-bottom: 0px;
  /* font-size: clamp(0.8rem, 0.8vw + 0.5rem, 1rem); */
}

.policeParent > div > span:last-child > p {
  /* border: 1px solid black; */
  margin-bottom: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em;
  line-height: 1.5em;
}

.checkoutParent {
  display: grid;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
  grid-auto-flow: dense;
  grid-auto-rows: 1fr;
  overflow: auto;
}

.checkoutParent > div {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  flex: 1 0 auto;
  flex-basis: 0;
  height: 100%;
  min-height: 50dvh;
}

.paymentMethCont {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  padding-block: 20px;
  padding-inline-end: 15px;
}

.paymentInpCont {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* border: 1px solid red; */
  /* padding-block: 10px; */
}

.paylabel {
  padding-bottom: 10px;
}

.payBtHolder {
  display: flex;
  flex-grow: 1;
  /* border: 1px solid blue; */
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .analiticsGridHolder > div:nth-child(5) {
    grid-column: 1/-1;
    grid-row: span 5;
  }

  .analiticsGridHolder > div:nth-child(6) {
    grid-column: 1/-1;
  }

  .analiticsGridHolder > div:nth-child(7) {
    grid-column: 1/-1;
  }

  .analysIconCombo {
    align-items: flex-end;
  }

  .analysTxtHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .filterConts {
    padding-inline: 0;
  }

  .analiticsGridHolder > div:nth-child(5) {
    flex-direction: row;
  }

  .pieRange {
    font-size: small;
    font-size: clamp(0.6rem, 0.1vw + 0.5rem, 1rem);
  }

  .pieRange > span > div {
    height: 1.5dvh !important;
    width: 1.5dvh !important;
    border-radius: 2px;
    /* background-color: antiquewhite; */
  }
  .prodtxtsCont > span {
    font-size: clamp(0.7rem, 0.4vw + 0.5rem, 1rem);
    font-family: var(--subFont);
  }

  .gridTitle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dateRangeHolder {
    flex: 1.5;
  }

  .dateRangeHolder {
    justify-content: flex-start;
  }

  .policeParent {
    grid-template-columns: 1fr;
  }

  .policeParent > div > span:first-child {
    flex: 0;
  }
  .policeParent > div > span:last-child {
    border-radius: 8px;
  }
}
