.appHolder {
  height: 100dvh;
  width: 100dvw;
  background-color: white;
}

.splashCont {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background-color: #f6f6f6;
  align-items: center;
  justify-content: center;
}

.loginConts {
  position: absolute;
  bottom: 20%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.loginConts > span {
  font-weight: 600;
}

.loginConts > span:first-child {
  cursor: pointer;
  color: #3fa2f6;
}

.loginConts > span:last-child {
}
